<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <!-- Logo -->
    <div class="logo-container">
      <img src="../static/images/logo.jpg" alt="Logo d'Agri Data">
    </div>
    
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>Connect to Database</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block body %}
    <h1>Connect to Database</h1>
    <div class="container">
      <!-- Database connection form -->
      <form method="POST" action="/">
          {{ form.hidden_tag() }}
          <label for="db_type">Database Type :</label>
         
          <select id="db_type" name="db_type">
              <option value="sql_server">SQL Server</option>
              <option value="mysql">MySQL</option>
              <option value="postgresql">PostgreSQL</option>
              <!-- Add other database options as needed -->
          </select>
          <br>
          <label for="server">Server :</label>
          {{ form.server(id="server") }}
          <label for="database">Database :</label>
          {{ form.database(id="database") }}
          <label for="username">Username :</label>
          {{ form.username(id="username") }}
          <label for="password">Password :</label>
          {{ form.password(id="password") }}
          <br>
          {{ form.submit(value="Connect") }}
      </form>
  </div>

     <!-- Modal for displaying flash messages -->
     <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flashModalLabel">Message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- The message will be inserted here by the JavaScript -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    {% endblock %}

    <!-- Include Bootstrap JS -->
    <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script -->
    
    <!-- JavaScript code for displaying flash messages in the modal -->
    <script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        var flashModal = new bootstrap.Modal(document.getElementById('flashModal'))
        flashModal.show()
    {% endif %}
    {% endwith %}
    </script>
    <script src="../static/jquery-3.5.1.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
</body>
</html>
